img {
  width: 100%;
  max-width: 500px;
}

body {
  background: red;
  color: black;
}
a {
  color: yellow;
}
.ppname {
  color: white;
}
nav {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

h1.ppname {
  display: flex;
  justify-content: space-around;
}
.doggie {
  width: 50px;
  height: 53px;
  background-size: cover;
  transform: translateY(29px);
  margin: 0;
  filter: hue-rotate(194deg);
  cursor: grab;
}
 