img {
  width: 100%;
  max-width: 500px;
}

body {
  background-image: linear-gradient(
  180deg,
  hsl(253deg 56% 22%) 0%,
  hsl(264deg 59% 22%) 13%,
  hsl(273deg 62% 22%) 19%,
  hsl(282deg 65% 21%) 24%,
  hsl(290deg 70% 20%) 28%,
  hsl(298deg 78% 19%) 32%,
  hsl(304deg 89% 19%) 35%,
  hsl(310deg 100% 19%) 39%,
  hsl(314deg 100% 20%) 42%,
  hsl(319deg 100% 22%) 45%,
  hsl(322deg 100% 23%) 48%,
  hsl(326deg 100% 24%) 52%,
  hsl(329deg 100% 25%) 55%,
  hsl(332deg 100% 26%) 58%,
  hsl(335deg 100% 27%) 61%,
  hsl(337deg 100% 28%) 65%,
  hsl(340deg 100% 28%) 68%,
  hsl(342deg 100% 29%) 72%,
  hsl(345deg 100% 29%) 76%,
  hsl(347deg 100% 30%) 81%,
  hsl(353deg 87% 32%) 87%,
  hsl(0deg 76% 34%) 100%
);
  background-size: 100% 100%;
  -webkit-animation: BACKGROUND-GRADIENT 15s ease infinite;
  -moz-animation: BACKGROUND-GRADIENT 15s ease infinite;
  animation: BACKGROUND-GRADIENT 15s ease infinite;

  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}

/*NAME*/
.🐓 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -15px;
}
/*HEADING*/
.🌮 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*LINKS*/
.⛓ {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
}
/*BUTTON HOVER CODE*/
.buttonfunc {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 35px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.press {
  background-color: yellow;
  color: #33004a;
  border: 2px solid yellow;
}
.press:hover {
  background-color: orange;
  color: #33004a;
  border: 2px solid orange;
}
/*DOGGIE*/
.doggie {
  display: flex;
  justify-content: space-around;
  width: 80px;
  height: 80px;
  background-size: cover;
  filter: hue-rotate(194deg);
  cursor: grab;
  left: 48%;
  position: relative;
  top: 100px;
}
main {
  display: flex;
  justify-content: space-around;
}
p.copyright {
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
/* BACKGROUND GRADIENT INFORMATION - https://www.gradient-animator.com/ */
@-webkit-keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}
