img {
  width: 100%;
  max-width: 500px;
}

body {
  background: linear-gradient(
    180deg,
    #B50145,
    #B40B35,
    #954108,
    #8C4800,
    #78530A,
    #695A07
  );
  background-size: 500% 500%;
  -webkit-animation: BACKGROUND-GRADIENT 30s ease infinite;
  -moz-animation: BACKGROUND-GRADIENT 30s ease infinite;
  animation: BACKGROUND-GRADIENT 30s ease infinite;

  color: #33004a;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}

/*NAME*/
.🐓 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -15px;
}
/*HEADING*/
.🌮 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*LINKS*/
.⛓ {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}
nav{
  display:flex;
  justify-content: center;
}
/*BUTTON HOVER CODE*/
.buttonfunc {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 35px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}
.press {
  background-color: yellow; 
  color: purple; 
  border: 2px solid yellow;
}
.press:hover {
  background-color: orange;
  color: purple;
  border: 2px solid orange;
}
/*DOGGIE*/
.doggie {
  display: flex;
  justify-content: space-around;
  width: 80px;
  height: 80px;
  background-size: cover;
  filter: hue-rotate(194deg);
  cursor: grab;
  left: 48%;
  position: relative;
  top: 100px;
}
main {
  display: flex;
  justify-content: space-around;
}
p.copyright {
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
/* BACKGROUND GRADIENT INFORMATION - https://www.gradient-animator.com/ */
@-webkit-keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes BACKGROUND-GRADIENT {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 50% 0%;
  }
}
